{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}
{% block content %}
<br/>
    <div class="text-center" style="min-height: 70vh;">
        <h2>About The idea </h2>
        <br/>
        <h5>This website is dedicate to make your life easy.</h5>
        <h5>Here you can create your own task, write descriptions.</h5>
        <h5>Your can edit your tasks or delete them.</h5>
        <h5>If you need some info about your task or you don't know how to do it. you can use google searh function &#128521</h5>
        <br/>
        <a class="btn btn-outline-success" href="{% url 'todo' %}">Start Now</a>
    </div>
<br/>
{% endblock %}
