{% extends "base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<div class="text-center">

{% if user.is_authenticated %}
    <h2>Hello {{user}} &#128522;</h2>
    <!-- <img class="aisi" src="{% static 'image/aisi_photo.jpg' %}"> -->
{% else %}
  <br/>

    <H1>Hello Everyone &#128522;</H1>
    <br/><br/><br/>
    <!-- <img class="aisi" src="{% static 'image/aisi_main.jpg' %}"> -->

{% endif %}
</div>
<div class="text-center" style="min-height: 50vh;">
  <br/>
<h1>want to make a To Do List</h1>
<br/>
<a type="button" class="btn btn-lg btn-outline-success" href="{% url 'todo' %}">GO HERE</a>
  <br/>  <br/>

 <h1>Or Find out more about the idea. 
  <br/>  <br/>

<a type="button" class="btn btn-lg btn-outline-success" href="{% url 'about' %}">About</a>
</h1>

</div>

{% endblock %}
